body{
	font-size: 22px;
}

br.brClear {
	clear: both;
}

header {
	margin-bottom: 60px;

} 

header img{
	width: 250px;
	height: auto;
	display: block;
	margin: 0 auto;
}

header h1{
	font-family: monospace;
}

.game p{
	padding: 12px;
}

#gameDisplay, #lives, #guessed, #lastGuess, #gameStatus, #letterCheck {
	color: yellow;
	text-align: center;
}

#gameDisplay{
	margin: 24px 0;
	font-size: 30px;
	border: 2px dashed #ccc;
	border-radius: 6px;
	padding:20px;
	letter-spacing: 30px;
}
